<?xml version="1.0"?>
<model>
  <name>martian_surface</name>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Model of the Hogwallow-Rockytop region of Jezero Crater. 
    This model is made from high-resolution images taken on sols 459-492 with 
    Perseverance Rover’s Mastcam-Z and Navcam instruments. The scalebar is 10 meters long,
    1m wide, and points North. The colors are enhanced and gamma-corrected to show contrast. 
    Credits: NASA/JPL/MSSS/ASU/Cornell (Submitted to Sketchfab by Roland K. Aristide)
  </description>
</model>

